@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

button {
    background-color: rebeccapurple;
    color: white;
    font-family: inherit;
    padding: 1rem;
    border-radius: 5px;
    border: none;
}
button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(10px);
}

#container {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

img {
    position: fixed;
    margin: auto;
    top: 250px;
    animation-name: turban;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

img.active{
    
    animation-name: shake;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg);}
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes turban {
  0% {transform: scale(0.6);}
  50% {transform: scale(0.7);}
  100% {transform: scale(0.6);}
  
}



.toast {
    background-color: rebeccapurple;
    border-radius: 5px;
    color: #fff;
    padding: 2rem;
    margin: 1rem;
}
.toast-green{
    background-color: #3e8e41;
    border-radius: 5px;
    color: #fff;
    padding: 2rem;
    margin: 1rem;
}
@media (max-width: 600px){

    .toast,.toast-green {
        font-size: 0.6rem;
        max-width:70px;
        text-overflow: wrap;
        max-height:40px;
        padding:0.6rem;
        margin: 0.5rem;
    }
   
    #container{

        display: flex;
        flex-direction: column;
    }
    button{
        max-width:100px;
    }
    img{
        top: 150px;

    }
} 
